<h2>About</h2>
<p>Description</p>

<ul>
  <li><a href="{{ '/blog' | prepend: site.baseurl }}">Blog</a></li>
  <li><a href="{{ '/cv' | prepend: site.baseurl }}">CV</a></li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/julianveerkamp">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/julianveerkamp/">LinkedIn</a>
  </li>
</ul>
